[submodule "dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = modules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "modules/tmux-mem-cpu-load"]
	path = modules/tmux-mem-cpu-load
	url = https://peter50216@bitbucket.org/peter50216/tmux-mem-cpu-load.git
[submodule "modules/vim-plug"]
	path = modules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "k"]
	path = modules/k
	url = https://github.com/rimraf/k.git
